.board {
  &__container {
    display: flex;
  }
  background: var(--bgBoard-color);
  transition: 0.3s;
  .open-sidebar {
    position: absolute;
    bottom: 32px;
    background: #635fc7;
    padding: 19px 22px 18px 18px;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
  }
  .columns__container {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    padding: 24px 0 0 24px;
  }
}
