.radio-button-container {
  padding: 15px;
  background: var(--bg-radio);
  border-radius: 6px;
  transition: 0.3s;
  max-width: 251px;
  min-width: 251px;
  margin: 0 auto;
  gap: 24px;
  display: inline-flex;
  justify-content: center;
  .radio-item {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    cursor: pointer;
    background: white;
  }
  .radio__img {
    cursor: pointer;
  }
  .radio-button-left,
  .radio-button-right {
    background-color: #635fc7;
    border-radius: 12px;
    display: inline;
    transition: 0.3s;
  }
  .radio-button-left {
    padding: 3px 3px 3px 23px;
  }
  .radio-button-right {
    padding: 3px 23px 3px 3px;
  }
}
