.header {
  display: flex;
  align-items: center;
  background: #2b2c37;
  padding: 0 24px 0 34px;
  &__title {
    padding: 29px 0 37px;
    color: white;
    font-size: 24px;
    border-left: 1px solid #3e3f4e;
    font-weight: bold;
    padding-left: 24px;
  }
  &__info {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__create-board {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .logo {
    padding: 0 113px 0 0;
  }
}
