.sidebar {
  //padding-right: 23px;
  min-width: 300px;
  border-right: 1px solid #3e3f4e;
  height: calc(100svh - 102px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  &__container {
    min-width: 276px;
    height: auto;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    padding-left: 32px;
    font-size: 12px;
    font-weight: bold;
    color: #828fa3;
  }
  &__item {
    display: inline-flex;

    color: #828fa3;
    font-weight: bold;
    padding: 15px 0 15px 32px;
    gap: 16px;
    align-items: center;
  }
  &__item:hover {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    color: #635fc7;
  }
  background: #2b2c37;
}
