.header {
  display: flex;
  align-items: center;
  background: var(--bgItem);
  transition: 0.3s;
  padding: 0 24px 0 33px;
  position: relative;
  &__title {
    padding: 29px 0 37px;
    color: var(--text-color);
    font-size: 24px;
    border-left: 1px solid var(--border-color);
    transition: 0.3s;
    font-weight: bold;
    padding-left: 24px;
  }
  &__info {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__create-board {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .logo-container {
    padding: 0 113px 0 0;
    display: flex;
    gap: 9px;
    .logo-btn {
      display: block;
      align-self: center;
    }
  }
}
@media (min-width: 768px) {
  .header {
    .logo-container {
      .logo-btn {
        display: none;
      }
    }
  }
}
